#search-Box{
    margin-left: 300px;
    padding: 20px;
}
#city-Name-Input{
    height: 30px;
    background-color:azure;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}
#city-Name-Button{
    margin: 12px;
    padding: 5px;
    height: 40px;
    background-color: rgb(70, 196, 196);
    border: none;
    border-radius: 0px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
}