#App,body{
margin:auto;
min-width: 1000px;
max-width: 1500px;
  background-color: azure;
}
#App{
  border: solid red;
}
#weather-Today-Container{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap:0px;
}